@charset "utf-8";
/* Простой «резиновый» носитель
   Примечание. Для «резинового» носителя требуется удалить атрибуты высоты и ширины из HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE6 не поддерживает атрибут max-width, поэтому по умолчанию используется ширина 100 % */
.ie6 img {
	width:100%;
}

/*
	Свойства Dreamweaver Fluid Grid
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Вдохновлено книгой «Отзывчивый веб-дизайн» (Responsive Web Design) Итана Маркота (Ethan Marcote) 
	http://www.alistapart.com/articles/responsive-web-design
	
	и системой Golden Grid Джони Корпи (Joni Korpi)
	http://goldengridsystem.com/
*/

/* Мобильный макет: 480 пикс. и меньше. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Макет для планшета: 481–768 пикс. Наследует стили от мобильного макета. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Макет для настольного компьютера: 769–1232 пикс. (максимум). Наследует стили от мобильного макета и макета для планшета. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
body { 
    font: 13px/18px verdana, arial;
    margin: 2px auto; 
    padding: 0px;
    color: #000; 
    background: #DAE8BD;
    background-image: url(../img/old-notebook-paper.jpg);
    }
 #wrapper {
    margin:20px 150px;
    padding: 5px;
    background: #DAE8BD;
    min-width: 650px;
   outline: 1px solid #277D88;
 }

 #content {
	margin: 0 50px 0 50px;
	background: #DAE8BD;
	padding: 10px 20px 10px 20px;
	outline: 1px solid #277D88;
	margin:10px 20px 10px 20px
 
 }

 #header {
	font-size: 30px;
	line-height: normal;
	color: #027D87;
	text-align: center;
}
#one {
    margin: 10px 20px; 
}
#main {
    width: 970px;
    margin: 0px;
    padding: 10px 50px; 
    background: #DAE8BD;
    outline: 1px solid #277D88;
}
p { 
    font: 13px verdana, arial, sans-serif; 
    margin: 10px 0px 17px 0; 
    text-indent: 20px;
    }
.new {
    color:blue;
}

.new2 {
    font-style: italic;
    color:#002F8E
}

.new3 {
    font-weight: bold;
}

a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: blue;
    text-decoration: underline
    }
a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #6E261A;
    }
a:hover { 
    text-decoration: underline; 
    color: #000505;
    }
a:active {
    color: #3144D1;
}
.main {
    margin: 10px 20px; 
}
.new4 {
    text-align: center;
}
#footer {
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  padding: 0px 0px 0px 20px;
}